<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <% if @shark.name? %>
    <%= @shark.name %>  
  <% end %>
   
</p>

<p>
  <strong>Facts:</strong>
  <% if @shark.facts? %>
    <%= @shark.facts %>
  <% end %>
 
</p>

<%= link_to 'Edit', edit_shark_path(@shark) %> |
<%= link_to 'Back', sharks_path %>
